nav {
    background: #450f80;
    box-shadow: #F07DEA 0px 5px 15px, inset #9FC9F3 0px -10px 20px;
    font-size: 2em;
    border-radius: 4em;

}

ul.nav { 
    display: flex;
    list-style: none;
}
li.nav{
    margin: auto;
    padding: 10px;

}
a{
    font-weight: bold;
    color: aliceblue;
    text-decoration: none;
}

a:hover{
    color: #9FC9F3;
}
body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.body-container{
    display: grid;
    grid-template-rows: auto;
    background: #1d0438;

}

.hero {
    background: #A460ED;
    display: flex;
}
.hero > img {
    animation: imageLoad 10s alternate-reverse infinite;

}

p.message {
    font-size: 1.2em;
    padding: 10px;
    text-align: center;
    margin-top: 30px;
    animation: moveText 3s alternate-reverse infinite;

}
p.message2 {
    font-size: 1.2em;
    padding: 10px;
    text-align: center;
    margin-top: 30px;
    animation: moveText 3s alternate-reverse infinite;

}
.item-container {

    display: grid;
    grid-template: 1fr/ repeat(auto-fit,minmax(200px,1fr));
    grid-template-areas: "A B C"
                         "D E F"
                         "G H I"
                         "J K L";
    grid-gap: 10px;
   
    
    background: #450f80;
    box-shadow: #EEEEEE 0px 5px 15px, inset #9FC9F3 0px -10px 20px;
    
}
h1{
    padding-top: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
    font-size: 3em;
    
}
.item {
    padding: 20px;
    background: #6627a8;

}

.item > img {
    transition: transform .3s;
    /* opacity: 0.5; */
    width: 100%;
    height: 200px;
}
.item > img:hover {
    transform: scale(1.2);
}
.item0{
    grid-area: E;
    color: #3f0b77;
}
.item0:hover{
    color: white;
    background: #1d0438;
    
}
.item1 {
    grid-area: B;
}
.item2 {
    grid-area: C;
}
.item3 {
    grid-area: D;
}
.item4 {
    grid-area: A;
}
.item5 {
    grid-area: F;
}
.item6 {
    grid-area: G;
}
.item7 {
    grid-area: H;
}
.item8 {
    grid-area: I;
}
.item9 {
    grid-area: J;
}
.footer {
    position:relative;
    text-align: center;
    line-height: 2em;
    background: #1d0438;
    
}
.line  {
    list-style: none;
    margin: 0; 
    color: antiquewhite; 
}
p.foot {
    color: whitesmoke;
    font-weight: bold;
    margin-top: .5em;
    margin-left: .5em;
    font-size: 1.2em;
}
h3 {
    font-size: 1.2em;
    margin: 0;
}
@media only screen and (min-width:100px) and (max-width:620px)
{
    
    .item-container {

        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
       
        grid-gap: 10px;
        background: #6627a8;
        box-shadow: #EEEEEE 0px 5px 15px, inset #9FC9F3 0px -10px 20px;
        
    }
    .item > img {
        transition: transform .3s;
        /* opacity: 0.5; */
        width: 100%;
        height: 200px;
    }
    p.message {
        font-size: 1.2em;
        padding: 10px;
        
    
    }
    .item {
        background: none;
    }
    .item0 {
        color: white;
    }
    .item0:hover {
        background: none;
        color: #66edac;
    }

        

}
@media only screen and (min-width:1200px) and (max-width:1700px)
{
    
    .item > img {
        width: 70%;
        height: 200px;
        margin-left: 60px;
    }
}
@media only screen and (min-width:1701px) and (max-width:1750px)
{
    
    .item > img {
        width: 70%;
        height: 200px;
        margin-left: 80px;
    }
}
@media only screen and (min-width:1751px) 
{
    
    .item > img {
        width: 70%;
        height: 200px;
        margin-left: 80px;
    }
}
@keyframes imageLoad {
    from {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

    }
  to {
    clip-path: polygon(8% 4%, 93% 4%, 93% 81%, 9% 81%);
    }
}
@keyframes moveText {
    from {
        transform: translateY(-10px);
    }
  to {
    transform: translateY(0px);
  }
}