.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}
.zone {
    display: inline-block;
    cursor: pointer;
    border: 2px solid black;
    font-size: 10em;
    border-radius:20px;
    text-align: center;
}
.green {
    background: #085e37;
    box-shadow: #5ed726 0px 3px 10px, inset #0eafa5 0px 5px 15px;
}